<h1><%=h @user.human_name %></h1>

<h2>Feeds</h2>
<ul>
  <% @user.feeds.each do |feed| %>
    <li><%= link_to feed.id, [@user, feed] %></li>
  <% end %>
</ul>

<%= link_to 'New Feed', new_user_feed_path(@user) %>

<%= link_to 'All Users', users_path %>
