<?php

  define('AMEE_API_URL',              'stage.amee.com');
  define('AMEE_API_PROJECT_KEY',      '');
  define('AMEE_API_PROJECT_PASSWORD', '');

  define('MYSQL_SERVER',              '127.0.0.1');
  define('MYSQL_USER',                'socialmeter');
  define('MYSQL_PASSWORD',            '');
  define('MYSQL_DB',                  'socialmeter_development');

  define('PACHUBE_API_KEY','');

?>
